@{
    ViewData["Title"] = "Home Page";
}


<div>
    <br /> <br /><br />
    @Html.ActionLink("Quản lý sinh viên", "Index", "SinhVien", new { @class = "btn btn-default" }) <br>
    @Html.ActionLink("Quản lý môn học ", "Index", "MonHoc", new { @class = "btn btn-default" }) <br>
    @Html.ActionLink("Quản lý khoa", "Index", "Khoa", new { @class = "btn btn-default" }) <br>
    @Html.ActionLink("Xem Điểm", "Index", "KetQua", new { @class = "btn btn-default" }) <br>

</div>
